[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/NateHark/hugo-theme-stack.git
[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
