[submodule "themes/cocoa-hugo-theme"]
	path = themes/cocoa-hugo-theme
	url = git@github.com:nishanths/cocoa-hugo-theme.git
	branch = master
	master = master
[submodule "public"]
	path = public
	url = git@github.com:NateHark/natehark.github.io.git
	branch = master
	master = master
