.reveal .slides section.left {
  text-align: left;
}

.reveal .slides .title {
  text-align: center;
  color: #666;
}

.reveal ul, .reveal dl, .reveal ol {
  margin: 0 0 1em 1em;
}

.reveal pre {
  font-size: 1em;
}

.reveal pre code {
  max-height: 450px;
}

.reveal ul.large,
.reveal p.large {
  font-size: 1.5em;
}

.reveal #footnote {
  display: none;
  position: absolute;
  box-sizing: border-box;
  height: 30px;
  padding: 4px;
  line-height: 22px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EBEBEB;
  font-size: 0.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 5;
}

.reveal span.footnote {
  display: none;
}

.reveal .hidden {
  display: none;
}

.reveal iframe.demo {
  width: 100%;
}
